*{
  box-sizing: border-box;
}
header{
  /* background-color: darkgray; */
}
header nav{
  width: 960px;
  margin: .5rem auto;
 }
 nav ul{
  width: 740px;
    display: inline-flex;  
    text-decoration: none; 
   
 }
 nav ul li{
  padding-right: 100px;
  list-style-type: none;
   float: left;
   display: block;
   
   }
 li a{
   text-decoration: none;
   color: black;
   
 }

main{
  /* background-color: slategray; */
  width: 960px;
  margin: 20px auto auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
main img{
  margin-bottom: 30px;
}
article{
  width: 450px;
}
footer{
    background-color: gray;
    margin-top: 30px;
}
article section{
  height: 320px;
  overflow: auto;
}
article a{
  border:1px solid black;
  border-radius: 10px;
  padding: 5px 40px 5px 40px;
  background-color: #dddddd;
  text-decoration: none;
  color: black;
  
}
a:hover{
color: black;
}
